
{% extends "base.html" %}
{% load static %}

{% block title %}Login - Produtiva{% endblock %} 

{% block header_right_content %}
{% endblock header_right_content %}

{% block 'body' %}

<div class="flex min-h-screen bg-gray-100 items-center justify-center px-4">
    <div class="bg-white p-10 rounded-xl shadow-lg w-full max-w-md border border-gray-200">
        <div class="flex flex-col items-center">
            <h2 class="text-2xl font-bold tracking-tight text-gray-800">Entre em sua conta</h2>
            <p class="mt-2 text-sm text-gray-600">
                Não tem conta?
                <a href="{% url 'registro' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">Faça seu cadastro aqui</a>
            </p>
        </div>

        {% if messages %}
            <div class="mt-4 space-y-2 w-full">
                {% for message in messages %}
                    <div class="w-full text-center py-2 px-4 rounded-md bg-blue-100 text-blue-800">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form action="{% url 'login' %}" method="POST" class="mt-8 space-y-5">{% csrf_token %}
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">E-mail</label>
                <input type="email" name="email" required
                       class="mt-1 block w-full rounded-md bg-gray-100 px-3 py-2 text-base text-gray-800 outline outline-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:outline-indigo-500">
            </div>

            <div>
                <label for="senha" class="block text-sm font-medium text-gray-700">Senha</label>
                <input type="password" name="senha" required
                       class="mt-1 block w-full rounded-md bg-gray-100 px-3 py-2 text-base text-gray-800 outline outline-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:outline-indigo-500">
            </div>

            <div>
                <button type="submit"
                        class="flex w-full justify-center cursor-pointer rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock 'body' %}