{% extends "base.html" %} {% load static %} {% block title %}Gerenciamento de
Projetos - Produtiva{% endblock %} {% block header_right_content %}
<div class="flex items-center space-x-2">
  {% if user.is_authenticated %}
  <div
    class="h-10 w-10 rounded-full bg-primary-600 flex items-center justify-center text-white font-bold"
  >
    {% if user.first_name and user.last_name %} {% else %}
    <i class="fa-solid fa-user"></i>
    {% endif %}
  </div>

  <span class="text-gray-800 font-medium hidden md:block"
    >{{ user.first_name }}</span
  >
  <a
    href="{% url 'logout' %}"
    class="ml-2 text-red-600 hover:text-red-800 text-sm font-semibold hidden md:block"
    >Sair</a
  >
  {% else %}
  <a
    href="{% url 'login' %}"
    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-200"
  >
    Faça Login
  </a>
  {% endif %}
</div>
{% endblock header_right_content %} {% block 'body' %}
<div class="flex min-h-screen bg-gray-100 p-6">
  <div
    class="w-1/4 bg-white p-6 rounded-lg shadow-md border border-gray-200 mr-6"
  >
    <a
      href="{% url 'listaTarefas' %}"
      id="novoProjetoBtn"
      class="flex items-center justify-center w-full px-4 py-3 bg-indigo-600 text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      <svg
        class="w-5 h-5 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        ></path>
      </svg>
      Novo Projeto
    </a>

    <div
      id="novoProjetoModal"
      class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden"
    >
      <div
        class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white"
      >
        <h3 class="text-lg font-semibold mb-4">Adicionar Novo Projeto</h3>
        <form action="#" method="post">
          {% csrf_token %}
          <input
            type="text"
            name="nome_projeto"
            placeholder="Nome do Projeto"
            class="mt-1 block w-full rounded-md bg-gray-100 px-3 py-2 text-base text-gray-800 outline outline-1 outline-gray-300 placeholder:text-gray-500 focus:outline-2 focus:outline-indigo-500"
            required
          />
          <div class="flex justify-end mt-4">
            <button
              type="button"
              id="cancelNovoProjeto"
              class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md mr-2 hover:bg-gray-300"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700"
            >
              Criar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="w-3/4 bg-white p-6 rounded-lg shadow-md border border-gray-200">
    <h2 class="text-xl font-bold mb-6 text-gray-800">Meus Projetos</h2>

    {% if messages %}
    <div class="mb-4 space-y-2 w-full">
      {% for message in messages %} {% if message.tags == 'success' %}
      <div
        class="w-full text-center py-2 px-4 rounded-md bg-green-100 text-green-800"
      >
        {{ message }}
      </div>
      {% elif message.tags == 'error' %}
      <div
        class="w-full text-center py-2 px-4 rounded-md bg-red-100 text-red-800"
      >
        {{ message }}
      </div>
      {% else %}
      <div
        class="w-full text-center py-2 px-4 rounded-md bg-blue-100 text-blue-800"
      >
        {{ message }}
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}

    <ul class="space-y-4">
      {% if projetos %} {% for projeto in projetos %}
      <li
        class="flex items-center justify-between bg-gray-50 p-4 rounded-md border border-gray-200 project-item"
        data-project-id="{{ projeto.id }}"
      >
        <span
          class="text-lg font-medium text-gray-800 project-name"
          data-editable="false"
          >{{ projeto.nome }}</span
        >
        <input
          type="text"
          class="hidden project-edit-input mt-1 block w-full rounded-md bg-gray-100 px-3 py-2 text-base text-gray-800 outline outline-1 outline-gray-300 focus:outline-2 focus:outline-indigo-500"
          value="{{ projeto.nome }}"
        />
        <div class="flex items-center space-x-3">
          <a
            href="{% url 'projetos' %}"
            class="px-4 py-2 bg-blue-500 text-white text-sm font-semibold rounded-md hover:bg-blue-600"
            >Relatório</a
          >
          <button
            class="delete-project-btn p-2 text-gray-500 hover:text-red-600"
            data-project-id="{{ projeto.id }}"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              ></path>
            </svg>
          </button>
        </div>
      </li>
      {% endfor %} {% else %}
      <p class="text-gray-600">
        Nenhum projeto encontrado. Clique em "+ Novo Projeto" para começar!
      </p>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock 'body' %}
